.form {
    margin-left: 40px;
}

.input-group {
    margin-top: 20px;
}

.input {
    margin-right: 50%;
}

.input-m {
    margin-right: 50%;
    height: 200px;
    overflow: auto;
    display: flex;
    align-items: flex-start;
} 

