.form {
    margin-left: 40px;
}

.input-group {
    margin-top: 20px;
}

.input {
    margin-right: 50%;
}

.input-m {
    margin-right: 50%;
    height: 200px;
} 

@media only screen and (max-width: 600px) {
    .input {
        margin-right: 25%;
    }

    .input-m {
        margin-right: 25%;
        height: 200px;
    } 
}

@media only screen and (max-width: 980px) {
    .input {
        margin-right: 25%;
    }

    .input-m {
        margin-right: 25%;
        height: 200px;
    } 
}
