.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer a {
    margin: 15px;
    font-size: 35px;
    color: gray;
}