.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 70px;
    margin-top: 25px;
    margin-right: 200px;
}
  
.grid-item {
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
}

.text {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: none;
    padding: 10px;
    display: none;
}

.gitIcon {
    position: absolute;
    top: 36%;
    color: white;
    font-size: 40px;
    display: none;
}
.icon1 {
    left: 45%;
}

.icon2 {
    left: 49%;
}

.icon3 {
    left: 39%;
}

.icon4 {
    left: 39%;
}

.grid-item:hover .text {
    display: block;
}

.grid-item:hover .gitIcon {
    display: block;
}

.text {
    font-family: 'MyFont';
    text-decoration: none;
    font-size: 50px;
    color: white;
    position: absolute;
}

.img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .grid {
        margin-right: 65px;
    }

    .img {
        height: 200px;
    }

    .text {
        font-size: 25px;
        left: 50%;
        width: 100%;
    }

    .gitIcon {
        font-size: 20px;
    }

    .icon1 {
        left: 10%;
        top: 70%;
    }
    
    .icon2 {
        left: 10%;
        top: 70%;

    }
    
    .icon3 {
        left: 10%;
        top: 70%;

    }
    
    .icon4 {
        left: 10%;
        top: 70%;

    }
}

@media only screen and (max-width: 980px) {
    .grid {
        margin-right: 65px;
    }

    .img {
        height: 200px;
    }

    .text {
        font-size: 30px;
        left: 50%;
        width: 100%;
    }

    .gitIcon {
        font-size: 30px;
    }

    .icon1 {
        left: 10%;
        top: 70%;
    }
    
    .icon2 {
        left: 10%;
        top: 70%;

    }
    
    .icon3 {
        left: 10%;
        top: 70%;

    }
    
    .icon4 {
        left: 10%;
        top: 70%;

    }
}